# Datetime

# The time Module

- *time* module is built-in
- *time.time()* and *time.sleep()* are the most useful functions

## The time.time() Function

- the *Unix epoch* is a time reference commonly used in programming
- this *Unix* timestamp started 12 AM on January 1, 1970, Coordinated Universal Time (UTC) 
- *time.time()* function returns the seconds since that moment
- this moment is called the *epoch timestamp*

In [1]:
import time
time.time()

1668552244.517527

The return value is how many seconds have passed between
the Unix epoch and the moment time.time() was called.
- measure how long a piece of code takes to run:

In [4]:
import time
def calcProd():
# Calculate the product of the first 100,000 numbers.
    product = 1
    for i in range(1, 100000):
        product = product * i
    return product
startTime = time.time()
prod = calcProd()
endTime = time.time()
print('The result is %s digits long.' % (len(str(prod))))
print('Took %s seconds to calculate.' % (endTime - startTime))

The result is 456569 digits long.
Took 1.8593878746032715 seconds to calculate.

## Make it human-readable

- *time.ctime()* function returns a string description of the current time
- optionally pass the number of seconds since the *Unix epoch*

In [26]:
time.ctime(time.time())

'Wed Nov 16 01:00:50 2022'

In [27]:

time.ctime(0)  # be aware of our timezone

'Thu Jan  1 01:00:00 1970'

## The time.sleep() Function

- useful to pause a programm:

In [28]:
for i in range(3):
    print('Tick')
    time.sleep(1)
    print('Tock')
    time.sleep(1)

Tick
Tock
Tick
Tock
Tick
Tock

# The datetime Module

- datetime has it's own data type: *datetime*

In [38]:
type(datetime.datetime.now())

datetime.datetime

Get the datetime object of the current time and of a given time:

In [58]:
import datetime
datetime.datetime.now()

datetime.datetime(2022, 11, 16, 1, 52, 18, 78852)

In [40]:
dt = datetime.datetime(2019, 10, 21, 16, 29, 0)

Get date entities:

In [53]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.weekday()

(2022, 11, 16, 1, 23, 31, 2)

### Convert UNIX Epoche

In [55]:
datetime.fromtimestamp(1000000)

datetime.datetime(1970, 1, 12, 14, 46, 40)

In [56]:
datetime.fromtimestamp(time.time())

datetime.datetime(2022, 11, 16, 1, 52, 1, 345464)

### Arithmetics with Datetime

In [41]:
halloween2019 = datetime.datetime(2019, 10, 31, 0, 0, 0)
newyears2020 = datetime.datetime(2020, 1, 1, 0, 0, 0)
oct31_2019 = datetime.datetime(2019, 10, 31, 0, 0, 0)
halloween2019 == oct31_2019

True

In [42]:
halloween2019 > newyears2020

False

In [43]:
newyears2020 > halloween2019

True

In [44]:
newyears2020 != oct31_2019

True

## The timedelta Data Type

- represents a duration of time rather than a moment in time

In [45]:
delta = datetime.timedelta(days=11, hours=10, minutes=9, seconds=8)
delta.days, delta.seconds, delta.microseconds

(11, 36548, 0)

In [46]:
delta.total_seconds()

986948.0

In [47]:
str(delta)

'11 days, 10:09:08'

### Arithmetics with timedelta

In [49]:
dt = datetime.datetime.now()
thousandDays = datetime.timedelta(days=1000)
dt

datetime.datetime(2022, 11, 16, 1, 23, 31, 923967)

In [50]:
dt + thousandDays

datetime.datetime(2025, 8, 12, 1, 23, 31, 923967)

### Converting datetime Objects into Strings

- use strftime() to make datetime objects human-readable

strftime() directive | Meaning
--- | ---
%Y | Year (e.g. 2022)
%y | Year (e.g. 22) only 2 digits
%m | Month
%B | Month full name
%b | Month name abbrevation
%d | day of month
%j | day of year
%w | day of week (starts at 0)
%A | full weekday
%a | weekday name
%H | hours (24h)
%I | hours (12h)
%M | Minute
%S | seconds
%p | 'AM'or 'PM'

In [51]:
oct21st = datetime.datetime(2019, 10, 21, 16, 29, 0)
oct21st.strftime('%Y/%m/%d %H:%M:%S')

'2019/10/21 16:29:00'

### Converting Strings into datetime Objects

- The strptime() function is the inverse of the strftime() method:

In [52]:
datetime.datetime.strptime('October 21, 2019', '%B %d, %Y')

datetime.datetime(2019, 10, 21, 0, 0)

## dateutil

- install it: `python3 -m pip install dateutil`
- supports timezones

In [1]:
from dateutil import tz  # don't forget to install dateutil
import datetime

#### Convert between different timezones

Look at the timezone default of the tz module:

In [2]:
tz.gettz()

tzfile('/etc/localtime')

- This function is also the preferred way to map IANA tz database keys to tzfile objects
- Internet Assigned Numbers Authority (IANA)
- Create an tz object with another timezone:

In [3]:
usa = "America/Los_Angeles"
usa_tz = tz.gettz(usa)
(usa_tz)

tzfile('/usr/share/zoneinfo/America/Los_Angeles')

- set the tz in datetime:

In [5]:
meeting_LA = datetime.datetime(2021, 8, 1, hour=13, minute=35,tzinfo=usa_tz)
meeting_LA

datetime.datetime(2021, 8, 1, 13, 35, tzinfo=tzfile('/usr/share/zoneinfo/America/Los_Angeles'))

- convert with *.astimezone()*:

In [6]:
meeting_LA.astimezone(tz.gettz())

datetime.datetime(2021, 8, 1, 22, 35, tzinfo=tzfile('/etc/localtime'))

##### Convert UNIX Epoch timestamp in right timezone

In [8]:
unix_epoch = datetime.datetime.fromtimestamp(0)
unix_epoch

datetime.datetime(1970, 1, 1, 1, 0)

In [11]:
unix_epoch.astimezone(tz.gettz('UTC'))

datetime.datetime(1970, 1, 1, 0, 0, tzinfo=tzfile('/usr/share/zoneinfo/UTC'))