# Connect Jupyter Notebook with postgresql

> python3 -m pip install ipython-sql

> ~~python3 -m pip install sqlalchemy~~

> python3 -m pip install psycopg2

if your psycopg2 installation failed it's likely that you have to install:
> sudo apt-get install libpq-dev

- then login to your postgresql's shell environment:
> psql

- create a database:
> create database db_live;


- give the postgres user access to that database:
> \c db_live

> ALTER USER "postgres" WITH PASSWORD 'password';  (if password was not yet set)

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%%sql
postgresql://postgres:password@localhost/db_live

In [8]:
%%sql
create table test(name varchar(100))

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.DuplicateTable) relation "test" already exists

[SQL: create table test(name varchar(100))]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [9]:
%%sql
insert into test values ('Bob Doe')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [10]:
%%sql
select * from test

 * postgresql://postgres:***@localhost/db_live
4 rows affected.

[('BOB',), ('BOB',), ('BOB',), ('Bob Doe',)]

# Keys

- Keys are columns in a table.
- their values can be used to uniquely identify a row in a table.
- Keys are always unique
- almost all tables should have a key

In [12]:
%%sql
create table people2 (full_name varchar(150) PRIMARY KEY, 
description TEXT)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

- the table people can't store persons with the same full name
- a primary key which has meaning is also called natural primary key
- when a table does not have unique fields, a surrogate primary key is used
- surrogate primary key are often called id

In [20]:
%%sql
create table city4 (
    name varchar(30),
    region varchar(30),
    country varchar(30),
    PRIMARY KEY(name, region, country)
)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [18]:
%%sql
insert into city3 values ('berlin', 
'berlin', 
'germany')

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "city3_name_region_country_key"
DETAIL:  Key (name, region, country)=(berlin, berlin, germany) already exists.

[SQL: insert into city3 values ('berlin',
'berlin',
'germany')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [22]:
%%sql
insert into city4 values ('berlin', 
'berlin2', 
'germany')

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "city4_pkey"
DETAIL:  Key (name, region, country)=(berlin, berlin2, germany) already exists.

[SQL: insert into city4 values ('berlin',
'berlin2',
'germany')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

- Primary keys can be declared on multiple columns at once.
- no two rows can have the same combination of name, region and country

In [25]:
%%sql
select * from city4

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[('berlin', 'berlin2', 'germany')]

## Foreign Key

- foreign key is a column
- a foreign key points to a unique column of another table
- a foreign key don't have to be unique
- usually they refer to the primary key
- those keys form relationships between tables

In [27]:
%%sql
create table friends(id serial PRIMARY KEY, name varchar(100))

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.DuplicateTable) relation "friends" already exists

[SQL: create table friends(id serial PRIMARY KEY, name varchar(100))]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [30]:
%%sql 
create table messages2 (id serial PRIMARY KEY,
                        friend_id int, 
                        text text,
                        FOREIGN KEY (friend_id) REFERENCES friends(id))

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [37]:
%%sql 
create table messages3 (id serial PRIMARY KEY,
                        friend_id int REFERENCES friends(id), 
                        text text)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [31]:
%%sql
INSERT INTO messages2(friend_id, text) values (1, 'BLA')

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.ForeignKeyViolation) insert or update on table "messages2" violates foreign key constraint "messages2_friend_id_fkey"
DETAIL:  Key (friend_id)=(1) is not present in table "friends".

[SQL: INSERT INTO messages2(friend_id, text) values (1, 'BLA')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [32]:
%%sql
SELECT * from friends

 * postgresql://postgres:***@localhost/db_live
0 rows affected.

[]

In [33]:
%%sql
insert into friends(name) values ('Lisa')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [34]:
%%sql
SELECT * from friends

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(2, 'Lisa')]

In [35]:
%%sql
INSERT INTO messages2(friend_id, text) values (2, 'BLA')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [36]:
%%sql 
select * from messages2

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(2, 2, 'BLA')]

In [39]:
%%sql
select * from friends, messages2
where friends.id = messages2.friend_id

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(2, 'Lisa', 2, 2, 'BLA')]

In [41]:
%%sql
insert into messages2(friend_id, text) values (2, 'BLA2')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [43]:
%%sql
select * from friends, messages2
where friends.id = messages2.friend_id
order by text

 * postgresql://postgres:***@localhost/db_live
2 rows affected.

[(2, 'Lisa', 2, 2, 'BLA'), (2, 'Lisa', 3, 2, 'BLA2')]

In [45]:
%%sql
select friends.name, messages2.text from friends, messages2
where friends.id = messages2.friend_id

 * postgresql://postgres:***@localhost/db_live
2 rows affected.

[('Lisa', 'BLA'), ('Lisa', 'BLA2')]

In [46]:
%%sql
insert into friends(name) values ('Bob')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [47]:
%%sql
insert into messages2(friend_id, text) values (3, 'How you are doing?')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [50]:
%%sql
select messages2.text from friends, messages2
where friends.id = messages2.friend_id and friends.name = 'Bob'

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[('How you are doing?',)]

# Deleting Related Rows

In [51]:
%%sql
delete from friends where name = 'Lisa'

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.ForeignKeyViolation) update or delete on table "friends" violates foreign key constraint "messages2_friend_id_fkey" on table "messages2"
DETAIL:  Key (id)=(2) is still referenced from table "messages2".

[SQL: delete from friends where name = 'Lisa']
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [52]:
%%sql
drop table messages2

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [53]:
%%sql 
create table messages2 (id serial PRIMARY KEY,
                        friend_id int REFERENCES friends(id)
                        ON DELETE SET NULL, 
                        text text)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [54]:
%%sql
insert into messages2(friend_id, text) values (2, 'BLA2')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [55]:
%%sql
insert into messages2(friend_id, text) values (3, 'Hello from bob')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [56]:
%%sql
select friends.name, messages2.text from friends, messages2
where friends.id = messages2.friend_id

 * postgresql://postgres:***@localhost/db_live
2 rows affected.

[('Lisa', 'BLA2'), ('Bob', 'Hello from bob')]

In [57]:
%%sql
delete from friends where name = 'Lisa'

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [58]:
%%sql
select * from messages2

 * postgresql://postgres:***@localhost/db_live
2 rows affected.

[(2, 3, 'Hello from bob'), (1, None, 'BLA2')]

- instead of ON DELETE SET NULL we could also write:
ON DELETE SET CASCADE
- CASCADE will delete the referencing row.