- CHAR takes up 1 byte per character. 
- a CHAR(100) field (or variable) takes up 100 bytes, regardless of the string it holds.

- VARCHAR is a variable length string data type
- it holds only the characters you assign to it
- VARCHAR takes up 1 byte per character
(+ 2 bytes to hold length information)
- Text n bytes + 4 bytes

When should I use CHAR instead of VARCHAR?
The short answer is: Almost never.
If your business rules say that the State column will ALWAYS be two characters long, then use CHAR(2).
A single letter string. For example, we should use CHAR(1) for a middle initial column.
Fixed length product codes

- add postgres user to LINUX_USER group:
> sudo adduser postgres LINUX-USER

- check in what groups is the user postgres:
> groups postgres

- remove postgres user from dci-student
> sudo deluser postgres dci-student

# Connect Jupyter Notebook with postgresql
> python3 -m pip install ipython-sql

> python3 -m pip install sqlalchemy 

> python3 -m pip install psycopg2

- then login to your postgresql's shell environment:
> psql

- create a database:
> create database db_live;

- give the postgres user access to that database:
> \c db_live

> ALTER USER "postgres" WITH PASSWORD 'password';

In [2]:
import psycopg2

psycopg2.connect(
    host="localhost",
    database="db_live",
    user="postgres",
    password="password"
)

In [3]:
%load_ext sql

In [4]:
from sqlalchemy import create_engine

In [5]:
%sql postgresql://postgres:password@localhost/db_live
%sql CREATE TABLE test (name varchar(100))

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.DuplicateTable) relation "test" already exists

[SQL: CREATE TABLE test (name varchar(100))]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
%sql insert into test values ('BOB')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [7]:
%sql select * from test

 * postgresql://postgres:***@localhost/db_live
3 rows affected.

[('BOB',), ('BOB',), ('BOB',)]

## Keys

- Keys are columns in a table.
- their values can be used to uniquely identify a row in a table.
- Keys are always unique
- almost all tables should have a key

In [8]:
%sql CREATE TABLE people (full_name varchar(150) PRIMARY KEY,description text)

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.DuplicateTable) relation "people" already exists

[SQL: CREATE TABLE people (full_name varchar(150) PRIMARY KEY,description text)]
(Background on this error at: https://sqlalche.me/e/20/f405)

- the table people can't store persons with the same full name
- a primary key which has meaning is also called natural primary key
- when a table does not have unique fields, a surrogate primary key is used
- surrogate primary key are often called id

In [10]:
%%sql 
CREATE TABLE city( 
 name varchar(30), 
 region varchar(30), 
 country varchar(30),
 PRIMARY KEY(name, region, country))

 * postgresql://postgres:***@localhost/db_live
Done.

[]

- Primary keys can be declared on multiple columns at once.
- no two rows can have the same combination of name, region and country

### Foreign Keys

- foreign key is a column
- a foreign key points to a unique column of another table
- don't have to be unique
- they usually refer to the primary key
- these keys form relationships between tables

In [12]:
%%sql
CREATE TABLE friends ( id serial PRIMARY KEY, name varchar(100) );

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.DuplicateTable) relation "friends" already exists

[SQL: CREATE TABLE friends ( id serial PRIMARY KEY, name varchar(100) );]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [13]:
%%sql
CREATE TABLE message ( id serial PRIMARY KEY,
                        friend_id int REFERENCES friends(id),
                        text text)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

### Populating Foreign Keys

In [14]:
%%sql
INSERT INTO message(friend_id, text)
VALUES(10, 'How are you doing?')

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.ForeignKeyViolation) insert or update on table "message" violates foreign key constraint "message_friend_id_fkey"
DETAIL:  Key (friend_id)=(10) is not present in table "friends".

[SQL: INSERT INTO message(friend_id, text)
VALUES(10, 'How are you doing?')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [16]:
%%sql
INSERT INTO friends( name)
VALUES('Lisa')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [17]:
%%sql
SELECT * FROM friends;

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(1, 'Lisa')]

In [18]:
%%sql
INSERT INTO message(friend_id, text)
VALUES(1, 'How are you doing?')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [19]:
%%sql
SELECT * FROM message;

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(2, 1, 'How are you doing?')]

In [20]:
%%sql
INSERT INTO message(friend_id, text)
VALUES(2, 'How are you doing?')

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.ForeignKeyViolation) insert or update on table "message" violates foreign key constraint "message_friend_id_fkey"
DETAIL:  Key (friend_id)=(2) is not present in table "friends".

[SQL: INSERT INTO message(friend_id, text)
VALUES(2, 'How are you doing?')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [21]:
%%sql
SELECT friends.name, message.text
FROM friends, message
WHERE friends.id = message.friend_id

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[('Lisa', 'How are you doing?')]

## Deleting Related Rows

In [22]:
%%sql
DELETE FROM friends WHERE id = 1

 * postgresql://postgres:***@localhost/db_live
(psycopg2.errors.ForeignKeyViolation) update or delete on table "friends" violates foreign key constraint "message_friend_id_fkey" on table "message"
DETAIL:  Key (id)=(1) is still referenced from table "message".

[SQL: DELETE FROM friends WHERE id = 1]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [23]:
%%sql
drop table message

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [24]:
%%sql
CREATE TABLE message ( id serial PRIMARY KEY,
                        friend_id int REFERENCES friends(id)
                        ON DELETE SET NULL,
                        text text)

 * postgresql://postgres:***@localhost/db_live
Done.

[]

In [25]:
%%sql
INSERT INTO message(friend_id, text)
VALUES(1, 'How are you doing?')

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [26]:
%%sql
DELETE FROM friends WHERE id = 1

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[]

In [27]:
%%sql
SELECT * FROM message

 * postgresql://postgres:***@localhost/db_live
1 rows affected.

[(1, None, 'How are you doing?')]

- instead of ON DELETE SET NULL we could also write:
ON DELETE SET CASCADE
- CASCADE will delete the referencing row.